# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
.next/
.nuxt/

# Debug and Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.pnpm-debug.log*

# Environment and Secrets
.env
.env.*
.aws/
.npmrc

# Version Control
.git/
.gitignore
.hg/
.svn/

# Editor/OS specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Documentation and Tests
README.md
docs/
coverage/
.eslintcache

