# Server Configuration
PORT= # The port number the server will run on (e.g., 3000)

# PostgreSQL Configuration
POSTGRES_DB= # Name of the database to create on startup
POSTGRES_USER= # Username for the database
POSTGRES_PASSWORD= # Password for the database user

# RabbitMQ Configuration
RABBITMQ_DEFAULT_USER= # Default RabbitMQ username
RABBITMQ_DEFAULT_PASS= # Default RabbitMQ password
RABBITMQ_DEFAULT_VHOST= # Default RabbitMQ virtual host

# pgAdmin Configuration
PGADMIN_DEFAULT_EMAIL= # Default email for pgAdmin interface
PGADMIN_DEFAULT_PASSWORD= # Default password for pgAdmin interface